<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  <!-- Head Section -->
  <head>
    {%- include head.html -%}
  </head>
  
  <!-- Body Section -->
  <body>

    <!-- Header Section -->
    {%- include header.html -%}

    <!-- Wrapper for Sidebar and Main Content -->
    <div class="wrapper">
      
      <!-- Sidebar Section -->
      {% include sidebar.html %}

      <!-- Main Content Section -->
      <main class="page-content" aria-label="Content">
        {{ content }}
      </main>
    </div>

    <!-- Footer Section -->
    {%- include footer.html -%}

  </body>
</html>

